<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965871970667-jqkrv095qctd7u86usb2f58p9roboclb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965871970667-jqkrv095qctd7u86usb2f58p9roboclb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>965871970667-punsdkljqm1090jh1l5g4op7vng3tal6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXoaJWNmFyzoWci2UoT1-f2twhEIYX-ZI</string>
	<key>GCM_SENDER_ID</key>
	<string>965871970667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nft.wowsports</string>
	<key>PROJECT_ID</key>
	<string>flowhackathon</string>
	<key>STORAGE_BUCKET</key>
	<string>flowhackathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965871970667:ios:0474d48bf76726e1ea042e</string>
	<key>DATABASE_URL</key>
	<string>https://flowhackathon-default-rtdb.firebaseio.com</string>
</dict>
</plist>